body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #FF7F50;
    padding: 20px;
    text-align: center;
    color: white;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.button {
    background-color: #FF7F50; /* 按钮颜色也调整为柔和的浅珊瑚色 */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}